// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "button";

body {
}

.tib-title {
  color: white;
}

.background {
  margin: 5px 5px 5px 20px;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    text-align: center;
    font-size: 72px;
    color: white;
  }
}

ul {
  list-style-type: none;
}

.doses {
  font-size: 20px;
  padding: 20px;
}
