<div class="navbar navbar-lewagon">
  <%= link_to cocktails_path do %>
    <h2 class="tib-title"><i class="fas fa-cocktail"></i> Tib's Cocktails</h2>
  <% end %>
  <%= link_to "Add new cocktail", new_cocktail_path, class: "add-btn btn btn-light" %>
</div>
